<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>SGO-SalvaMais</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>SGO-SalvaMais</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>A S+GO precisa de acesso à sua galeria de fotos para carregar imagens do seu Cartão ISN.</string>
	<key>NSCameraUsageDescription</key>
	<string>A S+GO precisa de acesso à câmera para fotografar o seu Cartão ISN.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>A S+GO pode guardar imagens relacionadas com o seu registo na galeria.</string>
</dict>
</plist>
